.poster {
    border-radius: 20px;
    width: 100%;
  }
  ion-title {
    font-weight: 600;
    font-family: RobotoCondensed-Regular !important;
  }
  h2 {
    margin-top: 0px;
    font-weight: 800;
    font-family: BebasNeue-Regular !important;
  }
  h3 {
    // margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: RobotoCondensed-Regular !important;
  }
  
  ion-chip {
    font-family: RobotoCondensed-Regular !important;
  }
  ion-text {
    font-weight: 400;
    font-family: RobotoCondensed-Light !important;
  }
  
  img {
    border-radius: 20px;
    width: 100%;
    height: auto;
  }
  
  ion-slide {
    border-radius: 20px;
  }

  .rightCol {
   display: flex;
   justify-content: flex-end;
  }
  
  .card {
    margin: 20px 10px;
    border-radius: 20px;
  }


  